MYSQL_ROOT_PASSWORD=adminbms
MYSQL_DATABASE=rces
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/rces?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=adminbms
SERVER_PORT=2520
